body {
    background: black;
    zoom:75%;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.row {
    max-width: 1120px;
    min-width: 1120px;
    min-height: 32px;
}

.ch {
    min-width: 28px;
    min-height: 32px;
    float: left;
}

.ch-00 { background: url(chars/char000.png) no-repeat; }
.ch-01 { background: url(chars/char001.png) no-repeat; }
.ch-02 { background: url(chars/char002.png) no-repeat; }
.ch-03 { background: url(chars/char003.png) no-repeat; }
.ch-04 { background: url(chars/char004.png) no-repeat; }
.ch-05 { background: url(chars/char005.png) no-repeat; }
.ch-06 { background: url(chars/char006.png) no-repeat; }
.ch-07 { background: url(chars/char007.png) no-repeat; }
.ch-08 { background: url(chars/char008.png) no-repeat; }
.ch-09 { background: url(chars/char009.png) no-repeat; }
.ch-0a { background: url(chars/char010.png) no-repeat; }
.ch-0b { background: url(chars/char011.png) no-repeat; }
.ch-0c { background: url(chars/char012.png) no-repeat; }
.ch-0d { background: url(chars/char013.png) no-repeat; }
.ch-0e { background: url(chars/char014.png) no-repeat; }
.ch-0f { background: url(chars/char015.png) no-repeat; }
.ch-10 { background: url(chars/char016.png) no-repeat; }
.ch-11 { background: url(chars/char017.png) no-repeat; }
.ch-12 { background: url(chars/char018.png) no-repeat; }
.ch-13 { background: url(chars/char019.png) no-repeat; }
.ch-14 { background: url(chars/char020.png) no-repeat; }
.ch-15 { background: url(chars/char021.png) no-repeat; }
.ch-16 { background: url(chars/char022.png) no-repeat; }
.ch-17 { background: url(chars/char023.png) no-repeat; }
.ch-18 { background: url(chars/char024.png) no-repeat; }
.ch-19 { background: url(chars/char025.png) no-repeat; }
.ch-1a { background: url(chars/char026.png) no-repeat; }
.ch-1b { background: url(chars/char027.png) no-repeat; }
.ch-1c { background: url(chars/char028.png) no-repeat; }
.ch-1d { background: url(chars/char029.png) no-repeat; }
.ch-1e { background: url(chars/char030.png) no-repeat; }
.ch-1f { background: url(chars/char031.png) no-repeat; }
.ch-20 { background: url(chars/char032.png) no-repeat; }
.ch-21 { background: url(chars/char033.png) no-repeat; }
.ch-22 { background: url(chars/char034.png) no-repeat; }
.ch-23 { background: url(chars/char035.png) no-repeat; }
.ch-24 { background: url(chars/char036.png) no-repeat; }
.ch-25 { background: url(chars/char037.png) no-repeat; }
.ch-26 { background: url(chars/char038.png) no-repeat; }
.ch-27 { background: url(chars/char039.png) no-repeat; }
.ch-28 { background: url(chars/char040.png) no-repeat; }
.ch-29 { background: url(chars/char041.png) no-repeat; }
.ch-2a { background: url(chars/char042.png) no-repeat; }
.ch-2b { background: url(chars/char043.png) no-repeat; }
.ch-2c { background: url(chars/char044.png) no-repeat; }
.ch-2d { background: url(chars/char045.png) no-repeat; }
.ch-2e { background: url(chars/char046.png) no-repeat; }
.ch-2f { background: url(chars/char047.png) no-repeat; }
.ch-30 { background: url(chars/char048.png) no-repeat; }
.ch-31 { background: url(chars/char049.png) no-repeat; }
.ch-32 { background: url(chars/char050.png) no-repeat; }
.ch-33 { background: url(chars/char051.png) no-repeat; }
.ch-34 { background: url(chars/char052.png) no-repeat; }
.ch-35 { background: url(chars/char053.png) no-repeat; }
.ch-36 { background: url(chars/char054.png) no-repeat; }
.ch-37 { background: url(chars/char055.png) no-repeat; }
.ch-38 { background: url(chars/char056.png) no-repeat; }
.ch-39 { background: url(chars/char057.png) no-repeat; }
.ch-3a { background: url(chars/char058.png) no-repeat; }
.ch-3b { background: url(chars/char059.png) no-repeat; }
.ch-3c { background: url(chars/char060.png) no-repeat; }
.ch-3d { background: url(chars/char061.png) no-repeat; }
.ch-3e { background: url(chars/char062.png) no-repeat; }
.ch-3f { background: url(chars/char063.png) no-repeat; }
.ch-40 { background: url(chars/char064.png) no-repeat; }
.ch-41 { background: url(chars/char065.png) no-repeat; }
.ch-42 { background: url(chars/char066.png) no-repeat; }
.ch-43 { background: url(chars/char067.png) no-repeat; }
.ch-44 { background: url(chars/char068.png) no-repeat; }
.ch-45 { background: url(chars/char069.png) no-repeat; }
.ch-46 { background: url(chars/char070.png) no-repeat; }
.ch-47 { background: url(chars/char071.png) no-repeat; }
.ch-48 { background: url(chars/char072.png) no-repeat; }
.ch-49 { background: url(chars/char073.png) no-repeat; }
.ch-4a { background: url(chars/char074.png) no-repeat; }
.ch-4b { background: url(chars/char075.png) no-repeat; }
.ch-4c { background: url(chars/char076.png) no-repeat; }
.ch-4d { background: url(chars/char077.png) no-repeat; }
.ch-4e { background: url(chars/char078.png) no-repeat; }
.ch-4f { background: url(chars/char079.png) no-repeat; }
.ch-50 { background: url(chars/char080.png) no-repeat; }
.ch-51 { background: url(chars/char081.png) no-repeat; }
.ch-52 { background: url(chars/char082.png) no-repeat; }
.ch-53 { background: url(chars/char083.png) no-repeat; }
.ch-54 { background: url(chars/char084.png) no-repeat; }
.ch-55 { background: url(chars/char085.png) no-repeat; }
.ch-56 { background: url(chars/char086.png) no-repeat; }
.ch-57 { background: url(chars/char087.png) no-repeat; }
.ch-58 { background: url(chars/char088.png) no-repeat; }
.ch-59 { background: url(chars/char089.png) no-repeat; }
.ch-5a { background: url(chars/char090.png) no-repeat; }
.ch-5b { background: url(chars/char091.png) no-repeat; }
.ch-5c { background: url(chars/char092.png) no-repeat; }
.ch-5d { background: url(chars/char093.png) no-repeat; }
.ch-5e { background: url(chars/char094.png) no-repeat; }
.ch-5f { background: url(chars/char095.png) no-repeat; }
.ch-60 { background: url(chars/char096.png) no-repeat; }
.ch-61 { background: url(chars/char097.png) no-repeat; }
.ch-62 { background: url(chars/char098.png) no-repeat; }
.ch-63 { background: url(chars/char099.png) no-repeat; }
.ch-64 { background: url(chars/char100.png) no-repeat; }
.ch-65 { background: url(chars/char101.png) no-repeat; }
.ch-66 { background: url(chars/char102.png) no-repeat; }
.ch-67 { background: url(chars/char103.png) no-repeat; }
.ch-68 { background: url(chars/char104.png) no-repeat; }
.ch-69 { background: url(chars/char105.png) no-repeat; }
.ch-6a { background: url(chars/char106.png) no-repeat; }
.ch-6b { background: url(chars/char107.png) no-repeat; }
.ch-6c { background: url(chars/char108.png) no-repeat; }
.ch-6d { background: url(chars/char109.png) no-repeat; }
.ch-6e { background: url(chars/char110.png) no-repeat; }
.ch-6f { background: url(chars/char111.png) no-repeat; }
.ch-70 { background: url(chars/char112.png) no-repeat; }
.ch-71 { background: url(chars/char113.png) no-repeat; }
.ch-72 { background: url(chars/char114.png) no-repeat; }
.ch-73 { background: url(chars/char115.png) no-repeat; }
.ch-74 { background: url(chars/char116.png) no-repeat; }
.ch-75 { background: url(chars/char117.png) no-repeat; }
.ch-76 { background: url(chars/char118.png) no-repeat; }
.ch-77 { background: url(chars/char119.png) no-repeat; }
.ch-78 { background: url(chars/char120.png) no-repeat; }
.ch-79 { background: url(chars/char121.png) no-repeat; }
.ch-7a { background: url(chars/char122.png) no-repeat; }
.ch-7b { background: url(chars/char123.png) no-repeat; }
.ch-7c { background: url(chars/char124.png) no-repeat; }
.ch-7d { background: url(chars/char125.png) no-repeat; }
.ch-7e { background: url(chars/char126.png) no-repeat; }
.ch-7f { background: url(chars/char127.png) no-repeat; }
.ch-80 { background: url(chars/char128.png) no-repeat; }
.ch-81 { background: url(chars/char129.png) no-repeat; }
.ch-82 { background: url(chars/char130.png) no-repeat; }
.ch-83 { background: url(chars/char131.png) no-repeat; }
.ch-84 { background: url(chars/char132.png) no-repeat; }
.ch-85 { background: url(chars/char133.png) no-repeat; }
.ch-86 { background: url(chars/char134.png) no-repeat; }
.ch-87 { background: url(chars/char135.png) no-repeat; }
.ch-88 { background: url(chars/char136.png) no-repeat; }
.ch-89 { background: url(chars/char137.png) no-repeat; }
.ch-8a { background: url(chars/char138.png) no-repeat; }
.ch-8b { background: url(chars/char139.png) no-repeat; }
.ch-8c { background: url(chars/char140.png) no-repeat; }
.ch-8d { background: url(chars/char141.png) no-repeat; }
.ch-8e { background: url(chars/char142.png) no-repeat; }
.ch-8f { background: url(chars/char143.png) no-repeat; }
.ch-90 { background: url(chars/char144.png) no-repeat; }
.ch-91 { background: url(chars/char145.png) no-repeat; }
.ch-92 { background: url(chars/char146.png) no-repeat; }
.ch-93 { background: url(chars/char147.png) no-repeat; }
.ch-94 { background: url(chars/char148.png) no-repeat; }
.ch-95 { background: url(chars/char149.png) no-repeat; }
.ch-96 { background: url(chars/char150.png) no-repeat; }
.ch-97 { background: url(chars/char151.png) no-repeat; }
.ch-98 { background: url(chars/char152.png) no-repeat; }
.ch-99 { background: url(chars/char153.png) no-repeat; }
.ch-9a { background: url(chars/char154.png) no-repeat; }
.ch-9b { background: url(chars/char155.png) no-repeat; }
.ch-9c { background: url(chars/char156.png) no-repeat; }
.ch-9d { background: url(chars/char157.png) no-repeat; }
.ch-9e { background: url(chars/char158.png) no-repeat; }
.ch-9f { background: url(chars/char159.png) no-repeat; }
.ch-a0 { background: url(chars/char160.png) no-repeat; }
.ch-a1 { background: url(chars/char161.png) no-repeat; }
.ch-a2 { background: url(chars/char162.png) no-repeat; }
.ch-a3 { background: url(chars/char163.png) no-repeat; }
.ch-a4 { background: url(chars/char164.png) no-repeat; }
.ch-a5 { background: url(chars/char165.png) no-repeat; }
.ch-a6 { background: url(chars/char166.png) no-repeat; }
.ch-a7 { background: url(chars/char167.png) no-repeat; }
.ch-a8 { background: url(chars/char168.png) no-repeat; }
.ch-a9 { background: url(chars/char169.png) no-repeat; }
.ch-aa { background: url(chars/char170.png) no-repeat; }
.ch-ab { background: url(chars/char171.png) no-repeat; }
.ch-ac { background: url(chars/char172.png) no-repeat; }
.ch-ad { background: url(chars/char173.png) no-repeat; }
.ch-ae { background: url(chars/char174.png) no-repeat; }
.ch-af { background: url(chars/char175.png) no-repeat; }
.ch-b0 { background: url(chars/char176.png) no-repeat; }
.ch-b1 { background: url(chars/char177.png) no-repeat; }
.ch-b2 { background: url(chars/char178.png) no-repeat; }
.ch-b3 { background: url(chars/char179.png) no-repeat; }
.ch-b4 { background: url(chars/char180.png) no-repeat; }
.ch-b5 { background: url(chars/char181.png) no-repeat; }
.ch-b6 { background: url(chars/char182.png) no-repeat; }
.ch-b7 { background: url(chars/char183.png) no-repeat; }
.ch-b8 { background: url(chars/char184.png) no-repeat; }
.ch-b9 { background: url(chars/char185.png) no-repeat; }
.ch-ba { background: url(chars/char186.png) no-repeat; }
.ch-bb { background: url(chars/char187.png) no-repeat; }
.ch-bc { background: url(chars/char188.png) no-repeat; }
.ch-bd { background: url(chars/char189.png) no-repeat; }
.ch-be { background: url(chars/char190.png) no-repeat; }
.ch-bf { background: url(chars/char191.png) no-repeat; }
.ch-c0 { background: url(chars/char192.png) no-repeat; }
.ch-c1 { background: url(chars/char193.png) no-repeat; }
.ch-c2 { background: url(chars/char194.png) no-repeat; }
.ch-c3 { background: url(chars/char195.png) no-repeat; }
.ch-c4 { background: url(chars/char196.png) no-repeat; }
.ch-c5 { background: url(chars/char197.png) no-repeat; }
.ch-c6 { background: url(chars/char198.png) no-repeat; }
.ch-c7 { background: url(chars/char199.png) no-repeat; }
.ch-c8 { background: url(chars/char200.png) no-repeat; }
.ch-c9 { background: url(chars/char201.png) no-repeat; }
.ch-ca { background: url(chars/char202.png) no-repeat; }
.ch-cb { background: url(chars/char203.png) no-repeat; }
.ch-cc { background: url(chars/char204.png) no-repeat; }
.ch-cd { background: url(chars/char205.png) no-repeat; }
.ch-ce { background: url(chars/char206.png) no-repeat; }
.ch-cf { background: url(chars/char207.png) no-repeat; }
.ch-d0 { background: url(chars/char208.png) no-repeat; }
.ch-d1 { background: url(chars/char209.png) no-repeat; }
.ch-d2 { background: url(chars/char210.png) no-repeat; }
.ch-d3 { background: url(chars/char211.png) no-repeat; }
.ch-d4 { background: url(chars/char212.png) no-repeat; }
.ch-d5 { background: url(chars/char213.png) no-repeat; }
.ch-d6 { background: url(chars/char214.png) no-repeat; }
.ch-d7 { background: url(chars/char215.png) no-repeat; }
.ch-d8 { background: url(chars/char216.png) no-repeat; }
.ch-d9 { background: url(chars/char217.png) no-repeat; }
.ch-da { background: url(chars/char218.png) no-repeat; }
.ch-db { background: url(chars/char219.png) no-repeat; }
.ch-dc { background: url(chars/char220.png) no-repeat; }
.ch-dd { background: url(chars/char221.png) no-repeat; }
.ch-de { background: url(chars/char222.png) no-repeat; }
.ch-df { background: url(chars/char223.png) no-repeat; }
.ch-e0 { background: url(chars/char224.png) no-repeat; }
.ch-e1 { background: url(chars/char225.png) no-repeat; }
.ch-e2 { background: url(chars/char226.png) no-repeat; }
.ch-e3 { background: url(chars/char227.png) no-repeat; }
.ch-e4 { background: url(chars/char228.png) no-repeat; }
.ch-e5 { background: url(chars/char229.png) no-repeat; }
.ch-e6 { background: url(chars/char230.png) no-repeat; }
.ch-e7 { background: url(chars/char231.png) no-repeat; }
.ch-e8 { background: url(chars/char232.png) no-repeat; }
.ch-e9 { background: url(chars/char233.png) no-repeat; }
.ch-ea { background: url(chars/char234.png) no-repeat; }
.ch-eb { background: url(chars/char235.png) no-repeat; }
.ch-ec { background: url(chars/char236.png) no-repeat; }
.ch-ed { background: url(chars/char237.png) no-repeat; }
.ch-ee { background: url(chars/char238.png) no-repeat; }
.ch-ef { background: url(chars/char239.png) no-repeat; }
.ch-f0 { background: url(chars/char240.png) no-repeat; }
.ch-f1 { background: url(chars/char241.png) no-repeat; }
.ch-f2 { background: url(chars/char242.png) no-repeat; }
.ch-f3 { background: url(chars/char243.png) no-repeat; }
.ch-f4 { background: url(chars/char244.png) no-repeat; }
.ch-f5 { background: url(chars/char245.png) no-repeat; }
.ch-f6 { background: url(chars/char246.png) no-repeat; }
.ch-f7 { background: url(chars/char247.png) no-repeat; }
.ch-f8 { background: url(chars/char248.png) no-repeat; }
.ch-f9 { background: url(chars/char249.png) no-repeat; }
.ch-fa { background: url(chars/char250.png) no-repeat; }
.ch-fb { background: url(chars/char251.png) no-repeat; }
.ch-fc { background: url(chars/char252.png) no-repeat; }
.ch-fd { background: url(chars/char253.png) no-repeat; }
.ch-fe { background: url(chars/char254.png) no-repeat; }
.ch-ff { background: url(chars/char255.png) no-repeat; }
